{
  "plugins": ["import", "unused-imports"],
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "unused-imports/no-unused-imports": "warn",
    "@next/next/no-img-element": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling"],
          "object",
          "type",
          "index"
        ],
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": ["builtin"],
        "alphabetize": { "order": "asc", "caseInsensitive": true },
        "pathGroups": [
          // ここに書いた順序で間に1行空行をあけつつ整頓される
          {
            "pattern": "{react,react-dom/**,react-router-dom,next/**}",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "src/components/global/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "src/components/layout/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "src/components/core/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "src/components/micro/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "src/components/pattern/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "src/components/page/**",
            "group": "internal",
            "position": "before"
          },

          // styles
          // 最後尾にしたいのでgroupをindex扱いにする
          {
            "pattern": "./**.module.css",
            "group": "index",
            "position": "before"
          }
        ]
      }
    ]
  }
}
